<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193236426140-9ji7c0te8tplr1jmhk93mgmsj4kg5djd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193236426140-9ji7c0te8tplr1jmhk93mgmsj4kg5djd</string>
	<key>API_KEY</key>
	<string>AIzaSyBKSEvW_5uqWXR8u12OLi50Wyrdx5VtVjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>193236426140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edocketdriver.ios</string>
	<key>PROJECT_ID</key>
	<string>edocketdriver</string>
	<key>STORAGE_BUCKET</key>
	<string>edocketdriver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193236426140:ios:0b0ab9a2725c7faf0e7c59</string>
</dict>
</plist>